.titulo_principal {
    text-align: center;
    background-color: #851944;
    color: #F2FFFC;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
}

body {
    background-color: #F2FFFC;
}

p {
    font-family: "Times New Roman", serif;
    font-size: 23px;
}

img {
    max-width: 700px;
    max-height: 655px;
    width: auto;
    height: auto;
}

.imagem_1 {
    padding-right: 10px;
}

.imagem_2 {
    transform: rotate(270deg);
}

h2 {
    font-size: 30px;
}

.h2_titulo {
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-variant: all-petite-caps;
    font-weight: bold;
    font-style: italic;
}

h4 {
    font-size: 28px;
    color: rgb(133, 25, 68);
    font-variant: all-petite-caps;
}

.lista_noivo {
    background-color: rgba(160, 160, 160, 0.63);
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    border: 10px solid rgba(0, 0, 0, 0.267);
    margin: 20px 30px;
    overflow: scroll;
    float: left;
    padding: 20px;
}

.lista_noiva {
    background-color: rgba(160, 160, 160, 0.63);
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    border: 10px solid rgba(0, 0, 0, 0.267);
    margin: 20px 30px;
    overflow: scroll;
    float: right;
    padding: 20px;
}

.tela_inicial {
    padding: 10px;
}

.a_convidados {
    text-decoration: none;
}

.buttom_convidados {
    background-position: center;
    padding: 10px;
}

.buttom_index {
    height: 70px;
    background-position: center;
    padding: 10px;
}

.li_convidados {
    text-align: center;
    padding-top: 10px;
}

#footer_roda_pe {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

.seta_voltar {
    width: 50px;
}

@media screen and (max-device-width: 900px) {
    .tela_inicial {
        text-align: -webkit-center;
        text-align: center;
    }
    .lista_noivo {
        float: none;
        width: auto;
        height: 100vh;
    }
    .lista_noiva {
        float: none;
        width: auto;
        height: 100vh;
    }
    main {
        text-align: center;
        text-align: -webkit-center;
    }
    .imagem_1 {
        max-height: max-content;
        max-width: -webkit-fill-available;
    }
    .imagem_2 {
        max-height: max-content;
        max-width: -webkit-fill-available;
    }
    .h2_titulo {
        text-decoration: underline;
        -webkit-text-stroke: medium;
        font-size: 30px;
    }
    h2 {
        -webkit-text-stroke: medium;
        text-transform: uppercase;
        font-size: 25px;
    }
    h3 {
        font-size: 60px;
    }
    p {
        font-size: 25px;
    }
}